#!/usr/bin/env bash

# It is safe to have this file in version control since the secret is not
# stored in it directly.

source_up

export SPACK_OCI_USERNAME=berquist
SPACK_OCI_PASSWORD="$(gh auth token)"
export SPACK_OCI_PASSWORD
