---
fail_fast: false
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v6.0.0"
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
        args: [--fix, "lf"]
      - id: trailing-whitespace
  - repo: https://github.com/google/yamlfmt
    rev: "v0.21.0"
    hooks:
      - id: yamlfmt
  - repo: https://github.com/adrienverge/yamllint
    rev: "v1.37.1"
    hooks:
      - id: yamllint
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: "v0.11.0.1"
    hooks:
      - id: shellcheck
  - repo: https://github.com/editorconfig-checker/editorconfig-checker
    rev: v3.6.0
    hooks:
      - id: editorconfig-checker
  - repo: https://github.com/zizmorcore/zizmor-pre-commit
    rev: "v1.20.0"
    hooks:
      - id: zizmor
        args: [--no-progress, --persona=pedantic, --fix]
